@use 'components/shared/styles/constants' as *;
@use 'components/shared/styles/mixins' as *;

.account-switcher-wallet {
    display: flex;
    flex-flow: column nowrap;

    &__header {
        padding: 1rem;
        border-bottom: 1px solid var(--general-hover);
    }

    &__tabs {
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.5rem;
    }

    &__tab {
        padding: 0.8rem 1.6rem;
        cursor: pointer;
        border-radius: 0.4rem;
        transition: background 0.2s;

        &:hover {
            background: var(--general-hover);
        }

        &--active {
            border-bottom: 2px solid var(--brand-red-coral);
        }
    }


    &__list {
        padding: 0.4rem 0.8rem;
    }

    &__looking-for-cfds {
        border-top: 1px solid var(--general-hover);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
        border: none;
        background: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__arrow {
        transform: rotate(-90deg);
        cursor: pointer;
    }
}
